<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  	<body>
  
	    <header th:fragment="copy" class="frag">
	      	&copy; 2011 The Good Thymes Virtual Grocery
	    </header>
	  
	  	<div id="copy-section">
	  		&copy; 2011 The Good Thymes Virtual Grocery
		</div>
	
		<div class="one copy three">
			class="one copy three" fragment
		</div>

  	</body>
  
</html>