<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Spittr</title>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
	</head>
	<body>
		<div th:replace="fragments :: header.my-header"></div><!-- ovo se pretvori u <header> -->

		<h1>Your Profile</h1>
		<span th:text="${spittr.username}" />
		<br/>
		<span th:text="${spittr.firstName}" />
		<br/>
		<span th:text="${spittr.lastName}" />

		<div th:replace="fragments :: footer.my-footer"></div>
	</body>
</html>