span.error {
	color: red;
}

div.errors {
	background-color: #ffcccc;
	border: 2px solid red;
}

header.my-header {
	background-color: #33ccff;
	border: 2px solid blue;
	text-align: center;
}

footer.my-footer {
	background-color: #33ccff;
	border: 2px solid blue;
	text-align: center;
}