<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
	<head>
		<title>Stock summary</title>
	</head>
	<body>
		<section layout:fragment="header">
			<div th:replace="fragments/fragments :: header.my-header"></div><!-- ovo se pretvori u <header> -->
		</section>

		<section layout:fragment="content">
			<h1>Current price</h1>
			<div th:text="${stock.quote.price}"></div>
			<h1>Goal price</h1>
			<div th:text="${goalPrice}"></div>
			<h1>Your e-mail</h1>
			<div th:text="${eMail}"></div>
		</section>

	</body>
</html>