<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
	<head>
		<title>User</title>
	</head>
	<body>
		<section layout:fragment="content">
			<h1>Your profile</h1>
			<span th:text="${user.username}"></span>
			<br/>
			<span th:text="${user.firstName}"></span>
			<br/>
			<span th:text="${user.lastName}"></span>
		</section>
	</body>
</html>