<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
	<title>Add spittle</title>
</head>

<body>

	<section layout:fragment="content">

		<h1>Add spitlle</h1>
		<form method="POST" th:object="${spittle}">

			<!-- Display errors -->
			<div class="errors" th:if="${#fields.hasErrors('*')}">
				<ul>
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}">
						Input is incorrect
					</li>
				</ul>
			</div>

			<!-- Id -->
			<label th:class="${#fields.hasErrors('id')}? 'error'">
				Spittle id
			</label>
			<input type="text" th:field="*{id}" th:class="${#fields.hasErrors('id')}? 'error'"></input>
			<br/>

			<!-- Message -->
			<label th:class="${#fields.hasErrors('message')}? 'error'">
				Last name
			</label>
			<input type="text" th:field="*{message}" th:class="${#fields.hasErrors('message')}? 'error'"></input>
			<br/>

			<input type="submit" value="Pull"></input>

		</form>

	</section>

</body>
</html>