<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
	<title>Spittle</title>
</head>
<body>

	<section layout:fragment="content">
		<div class="spittleView" th:object="${one}">
			<div class="spittleMessage">
	  			<span th:text="*{message}">27</span>
	  		</div>
			<div>
				<span th:text="*{id}">27</span>
			</div>
		</div>
	</section>

</body>
</html>